<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/app.css">
<head>
	<link rel="stylesheet" href="http://netdna.boostrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>


<body ng-app='app'>

	<div ng-controller='PostsCtrl' class="container">
		<h1>Recent Posts</h1>
		<form role="form">
			<div class="form-group">
				<div class="input-group">
					<input ng-model="postBody" class="form-control"/>
					<span class="input-group-btn">
						<button ng-click='addPost()' class="btn btn-default">Add Post</button>
					</span>
				</div>
			</div>
		</form>

		<ul class="list-group">
			<li ng-repeat='post in posts' class='list-group-item'>
				<strong>@{{ post.username }}</strong>
				<span>{{ post.body }}</span>
			</li>
		</ul>
	</div>
	
<!--  Java script -->
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js'></script>
	<script src='/app.js'>
<!--
		var app = angular.module('app', [])
		app.controller('PostsCtrl', function($scope) {

			$scope.addPost = function() {

				if ($scope.postBody)
				{
				// add post via api
					$http.post('/api/posts', {
						username: 'dickeyxxx',
						body: $scope.postBody
					}).success(function(post){
						$scope.posts.unshift(post)
						$scope.postBody = null	
					})
				}

			}

			$http.get('http://localhost:3000/api/posts')
			.success(function(posts){
				$scope.posts = posts
			})

		})
-->
	</script>
	
	 
</body>

</html>